@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Merriweather', serif;
  background: linear-gradient(135deg, #2c3e50, #34495e, #8e6e53, #5c7d9a);
}

.prose {
  color: #ecf0f1; /* Light text for better readability on dark background */
}

a {
  transition: color 0.2s;
}

a:hover {
  color: #bdc3c7; /* Light grey on hover */
}
